<div class="bg-img">
  <div class="container">
    <nav *ngFor="let i of [1,2]" [class]="{'fixed-Menu':i == 1}" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; padding: 0; background-color: #6495ED !important;">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #ffffff; display: none;"></span><i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
      </button>
      <img src="assets/images/logo_2.png" alt="Home" class="navbar-brand" [routerLink]="['/']" style="width: 150px; height: 150px; cursor: pointer; margin: -40px 0 !important; margin-right: 5% !important;">

    <div class="collapse navbar-collapse" [class]="{'d-flex':showMenu}" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/about']">About Us </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/services']">Services </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/boards']">Job Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/artisans']">Artisan Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/training']">Training Board</a>
        </li>

        <li *ngIf="!(authenService.authStatus | async)" class="nav-item active">
          <a class="nav-link" [routerLink]="['/auth/login']">Score CV </a>
        </li>

        <li *ngIf="authenService.authStatus | async" class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV </a>
        </li>

      </ul>

      <div *ngIf="!(authenService.authStatus | async)" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>

      <div *ngIf="authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Log Out</a>
          </li>

          <li *ngIf="myRole === 'ASS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/appdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'CSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/consdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'RSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/modules']">Dashboard</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- <ngx-navigator></ngx-navigator> -->
   <div class="container" style="margin: 3% 0;">
    <!-- <div style="padding-top: 20px;">
      <h6 style="text-align: center; color: #fff;">Get hired for any job, any time.</h6>
    </div> -->
   <form #searchForm='ngForm'>
    <div class="row" style="display: flex; flex-direction: row; justify-content: stretch; align-items:stretch; align-self: center; padding-top: 3%;">
      <div class="form-group col-sm-12 col-md-6 col-lg-4" >
         <select class="custom-select" name="skillArea" #skillArea="ngModel" [(ngModel)]="jobFilter.skillAreaId">
           <option value="0">Search by Job Functions</option>
           <option *ngFor="let skill of skillData" [value]="skill.id">{{skill.text}}</option>
         </select>
       </div>


       <div class="form-group col-sm-12 col-md-6 col-lg-4">
         <select class="custom-select" name="state" #state="ngModel" [(ngModel)]="jobFilter.stateId">
           <option value="0">Search by Locations</option>
           <option *ngFor="let state of stateData" [value]="state.id">{{state.text}}</option>
         </select>
       </div>
<!--
       <div class="form-group col-sm-12 col-md-6 col-lg-4">
         <select class="custom-select" name="industries" #industries="ngModel" [(ngModel)]="jobFilter.sectorId">
           <option value="0">Search by Industries</option>
           <option *ngFor="let sec of sectorData" [value]="sec.id">{{sec.text}}</option>
         </select>
       </div> -->


       <div class="form-group col-sm-12 col-md-6 col-lg-4" >
        <button type="submit" class="btn btn-primary" size="small" fullWidth (click)="filterUpdated(searchForm.value)" nbButton status="primary" style="border:2px solid #fff;">Search</button>
       </div>
     </div>
   </form>
   </div>


  </div>

</div>

<div class="row" style="background-color: transparent; margin: 2%;">
  <!-- <div class="row"> -->
    <div class="col-sm-12 col-md-8 col-lg-8" style="width:max-content">
      <nb-card style="background-color: transparent;">
        <nb-card-header  style="font-weight:900;">
          Top jobs
        </nb-card-header>
        <nb-card-body *ngIf="jobsCounter < 1">
          <ngx-default-content pageHeader={{myPlanHeader}} pageDescription="{{myPlanDesc}}" [loading]="loading"></ngx-default-content>
        </nb-card-body>

        <nb-card-body *ngIf="jobsCounter > 0">
          <nb-tabset>
            <nb-tab tabTitle="All">
              <div class="row smallDevice" style="display: flex; flex-direction: row; justify-content: space-between; max-width: 100%;">
                <div *ngFor="let job of allJobs | paginate: { id: 'jobsFilter',
                itemsPerPage: jobFilter.pageSize,
                currentPage: jobFilter.pageNumber,
                totalItems: allJobs.length }"  class="col-sm-12 col-md-5 col-lg-5 mobile" [routerLink]="['/applicants/details', job.id]" style="display: flex; height: auto; cursor:pointer; margin: 2px;">
                  <div class="row shadow-sm p-3 mb-5 bg-white rounded" style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <img src="assets/images/jobs.png" class="rounded img-fluid" >
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <span style="font-weight: 600; padding-right:25px;"><a [routerLink]="['/applicants/details', job.id]">{{job.position}}</a></span><br>
                        <div style="padding-top: 5px;"></div>
                        <span>{{job.recruiter}}</span><br>
                        <span>{{job.state}} | {{job.jobTypeName}}</span><br>
                        <span style="margin-right: 4px;">Closes in {{job.jobCloseInDays}} days</span>
                    </div>
                  </div>
                </div>
              </div>

            </nb-tab>
            <nb-tab tabTitle="Featured Jobs">
              <div class="row">
                <div class="col-sm-6" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <img src="assets/images/jobs.png" style="width: 100%;">
                  </div>
                  <div class="col-sm-12">
                      <span style="font-weight: 600; padding-right:25px;">UI/UX Designer</span><br>
                      <div style="padding-top: 5px;"></div>
                      <span>Amplifire Digital Agency</span><br>
                      <span>Lekki, Lagos | Full-time</span><br>
                      <span>Closes in 5 days</span><br>
                  </div>
                </div>

                <div class="col-sm-6" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <img src="assets/images/jobs.png" style="width: 100%;">
                  </div>
                  <div class="col-sm-12">
                      <span style="font-weight: 600; padding-right:25px;">UI/UX Designer</span><br>
                      <div style="padding-top: 5px;"></div>
                      <span>Amplifire Digital Agency</span><br>
                      <span>Lekki, Lagos | Full-time</span><br>
                      <span>Closes in 5 days</span><br>
                  </div>
                </div>
              </div>
            </nb-tab>
      </nb-tabset>
        </nb-card-body>
        <!-- <div class="row">
          <div class="col">
            <input class="btn" nbButton outline size="small"  type="button" value="Prev" (click)="selectPage(currentPage - 1)" [disabled]="currentPage === 1">
          </div>

          <ng-template [ngIf]="currentPage > 10">
            <div *ngFor="let page of [1,2]" class="col">
              <input type="button" class="form" [value]="page" (click)="selectPage(page)" [disabled]="page == currentPage">
            </div>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </ng-template>

          <div *ngFor="let page of showingPages" class="col">
            <input type="button" [value]="page" (click)="selectPage(page)" [disabled]="page == currentPage">
          </div>
          <ng-template [ngIf]="totalPage - currentPage > 10">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <div *ngFor="let page of [totalPage-1, totalPage]" class="col">
            <input type="button" [value]="page" (click)="selectPage(page)" [disabled]="page == currentPage">
          </div>
          </ng-template>
          <div class="col">
            <input type="button" value="Next" (click)="selectPage(currentPage + 1)" [disabled]="currentPage === totalPage">
          </div>
        </div> -->

        <!-- <button *ngFor="let item of allJobs | paginate: { id: jobFilter.pageNumber,
                                                      itemsPerPage: jobFilter.pageSize,
                                                      currentPage: jobFilter.pageNumber,
                                                      totalItems: totalPage }">
                                                    </button> -->
         <pagination-controls class="text-left"
          (pageChange)="filterPageUpdated($event)"
        ></pagination-controls>
      </nb-card>
    </div>

      <div class="col-sm-10 col-md-4 col-lg-4">
        <nb-card class="shadow p-3 mb-5 bg-white rounded">
          <nb-card-body>
           <div class="row" >
             <div class="col">
             <h6>Top jobs in Nigeria</h6>
             <span *ngIf="jobsCounter > 0">{{jobsCounter}} jobs found</span>
             <div class="form-group has-search">
               <div style="display: flex; justify-content: space-between; flex-direction: row; padding-bottom: 3px;">
               <span style="font-weight: 600;">Industry</span>
               <a href="javascript: void(0)" style="color: #0066F4;" (click)="resetFilter()">Reset Filter</a>
               </div>
               <div class="input-group">
               <span class="fa fa-search form-control-feedback"></span>
               <input type="text" class="form-control" placeholder="Search" (keyup.enter)="searchUpdated()" name="searchText" #searchText="ngModel" [(ngModel)]="jobFilter.searchText" style="height: 45px">
               <div class="input-group-append">
               </div>
             </div>
             </div>
             </div>

             <!-- <div style="padding: 20px;"></div> -->
           </div>
           <div class="row" [class.overflow]="overFlowStatus">
             <ngx-filter-box [data]="skillJobsData" [(value)]="filteredSkillArea" (valueChange)="filterUpdated($event)"></ngx-filter-box>
           </div>
           <div class="row" style="margin-top: 10px;">
             <div class="col">
             <h6>Jobs by location</h6>
             </div>

             <div style="padding: 20px;"></div>
           </div>
           <div class="row" [class.overflow]="overFlowStatus">
             <ngx-filter-box [data]="locationJobsData" [(value)]="filteredLocation" (valueChange)="filterUpdated($event)"></ngx-filter-box>

           </div>
          </nb-card-body>
        </nb-card>
      </div>
  <!-- </div> -->

</div>

  <div class="row"  style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: #1F2566; height: auto; padding: 30px;">
    <div class="col-sm-12 col-md-6 col-lg-4" style="color: #fff; padding: 10px;">
      <h6 style="color: #fff;">Get your dream job</h6><br>
      <span style="font-family: Graphik; font-size: 13px;">Tell us what kind of a job you are looking out for and stay updated with latest opportunities.</span>
    </div>
    <div *ngIf="!(authenService.authStatus | async)" class="col-sm-12 col-md-6 col-lg-4" style="display: flex; flex-direction: row; justify-content: space-around;">
      <button type="submit" [routerLink]="['/auth/login']" class="btn my-button" style="color: #1F2566;
      background-color: #fff;
      width: 135px;
      height: 40px;
      font-size: 13px;
      font-weight: 500;">Log In</button>
      <button class="btn" [routerLink]="['/auth/signup']" nbButton outline size="small"  style="color: #ffffff; background-color: #6495ED;
      width: 135px;
      height: 40px;
      font-size: 13px;
      font-weight: 500;">Register now</button>


    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 dashImage">
      <img src="assets/images/Artisan_Listing.png" class="imageDivs" style="width: 300px; height: 300px; margin-top: -10%; margin-bottom: -10%;" alt="">
    </div>
    </div>


<div class="row" style="margin: 2%; background-color: transparent;">
  <!-- <div class="row row-cols-2"> -->

    <div class="col-sm-12 col-md-8 col-lg-8">
      <nb-card *ngIf="employerCounter < 1">
        <nb-card-header  style="font-weight:900;">
          Places to Work
        </nb-card-header>
        <nb-card-body>
          <ngx-default-content pageHeader={{myPlanHeader}} pageDescription="{{myPlanDesc}}" [loading]="loading"></ngx-default-content>
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="employerCounter > 0" style="background-color: transparent;">
        <nb-card-header style="font-weight: 900;">
          Places to work
        </nb-card-header>
        <nb-card-body>

          <nb-tabset>
             <nb-tab tabTitle="All">
              <div class="row" >
                <div *ngFor="let employer of employerData | paginate: { id: employerFilter.companyId,
                  itemsPerPage: employerFilter.pageSize,
                  currentPage: employerFilter.pageNumber,
                  totalItems: employerCounter }" class="col-sm-10 col-md-6 col-lg-4" style="padding: 10px; margin-bottom: 20px;">
                  <div class="row shadow-sm p-3 mb-5 bg-white rounded" style="width: 100%;">
                    <div class="col" style="width: 100%;">
                      <img src="{{'data:image/jpg;base64,' + employer.logo}}" class="rounded-circle img-fluid" onError="this.onerror=null;this.src='assets/images/jobs.png';" style="max-width: 100%; height: auto;">
                      <div style="display: block;">
                        <span style="font-weight: 600;" class="align-middle"><a [routerLink]="['/applicants/employerdetails', employer.id]">{{employer.name}}</a></span>
                        <span style="display: block;" class="align-middle">{{employer.sector}}</span>
                      </div>
                   </div>
                  </div>
                </div>
              </div>

            </nb-tab>
            <nb-tab tabTitle="Featured Places">
              <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="col-sm-12 col-md-6 col-lg-3" style="text-align: center;">
                  <img src="assets/images/jobs.png" style="width:5rem; margin-bottom: 5px;"><br>
                  <span>Amplifire Digital Agency</span><br>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3" style="text-align: center;">
                  <img src="assets/images/jobs.png" style="width:5rem; margin-bottom: 5px;"><br>
                  <span>Amplifire Digital Agency</span><br>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3" style="text-align: center;">
                  <img src="assets/images/jobs.png" style="width:5rem; margin-bottom: 5px;"><br>
                  <span>Amplifire Digital Agency</span><br>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3" style="text-align: center;">
                  <img src="assets/images/jobs.png" style="width:5rem; margin-bottom: 5px;"><br>
                  <span>Amplifire Digital Agency</span><br>
                </div>
            </div>
            </nb-tab>
          </nb-tabset>

        </nb-card-body>
        <pagination-controls
          class="pagi"
          (pageChange)="jobFilter.pageNumber = $event"
        ></pagination-controls>
      </nb-card>
    </div>

      <nb-card class="col-sm-12 col-md-4 col-lg-4 shadow p-3 mb-5 bg-white rounded">
        <nb-card-body>
          <div class="row" style="display: flex; justify-content: flex-start; flex-direction: row; padding: 10px;">
            <div class="col" style="padding: 10px;">
            <h6>Filter best workplaces by:</h6>
            <div style="padding: 5px;"></div>
            <span>You can filter workplace here to get a more detailed search</span>
            <div style="padding: 10px;"></div>
            <input type="text" class="form-control" placeholder="Search" (keyup.enter)="filterUpdated($event)" name="searchText" #searchText="ngModel" [(ngModel)]="employerFilter.searchText" style="height: 45px">
          </div>
          </div>

       </nb-card-body>
      </nb-card>
  <!-- </div> -->

</div>
