<div class="input-group mb-3" style="flex-wrap: nowrap;">
  <input  [(ngModel)]="dateItem" name="dateItem" value="dateItem" [nbDatepicker]="datepicker"  type="text" class="form-control" placeholder="DD/MM/YYYY" style="width:100%;">
  <div class="">
    <button class="btn btn-outline-secondary" (click)="show()" type="button" style="min-width: 0px !important;">
        <nb-icon icon="calendar-outline"></nb-icon>
    </button>
  </div>
</div>
<nb-datepicker format="MMM d, y"  [min]="min" [max]="max" #datepicker></nb-datepicker>
