<!-- <ngx-componentsheader pageName='Change Password'></ngx-componentsheader>
<nb-card>
  <nb-card-body>
    <div style="background-color: #ffffff;">
      <label>Enter current password</label>
    <div style="display: flex;border: 0.800000011920929px solid #CED4DA;border-radius: 3px;background-color: #f7f9fc;padding: 5px;">
    <input [type]="show ? 'text' : 'password'" nbInput fullWidth placeholder="Password" name="password" #password="ngModel" [(ngModel)]="jobSeeker.password" required style="border: none;">
    <nb-icon  (click)="viewpassword()" *ngIf="!show"  icon="eye-off-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
    <nb-icon  (click)="viewpassword()" *ngIf="show"  icon="eye-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
    <div *ngIf="password.errors.required">Password is required</div>
  </div>
    </div>


    <div style="background-color: #ffffff;">
      <label>Password</label>
    <div style="display: flex;border: 0.800000011920929px solid #CED4DA;border-radius: 3px;background-color: #f7f9fc;padding: 5px;">
    <input [type]="show ? 'text' : 'password'" nbInput fullWidth placeholder="Password" name="password" #password="ngModel" [(ngModel)]="jobSeeker.password" required style="border: none;">
    <nb-icon  (click)="viewpassword()" *ngIf="!show"  icon="eye-off-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
    <nb-icon  (click)="viewpassword()" *ngIf="show"  icon="eye-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
    <div *ngIf="password.errors.required">Password is required</div>
  </div>
    </div>

    <div>
      <label>Confirm Password</label>
    <div style="display: flex;border: 0.800000011920929px solid #CED4DA;border-radius: 3px;background-color: #f7f9fc;padding: 5px;">
    <input [type]="show ? 'text' : 'password'" nbInput fullWidth placeholder="Password" name="password" #password="ngModel" [(ngModel)]="jobSeeker.password" required style="border: none;">
    <nb-icon  (click)="viewpassword()" *ngIf="!show"  icon="eye-off-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
    <nb-icon  (click)="viewpassword()" *ngIf="show"  icon="eye-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
    <div *ngIf="password.errors.required">Password is required</div>
  </div>
    </div>

    <div style="padding: 10px;"></div>

    <div class="form-group">
      <label for="specialization" style="font-weight: bold;"></label>
        <button *ngIf="!btnProcessing" nbButton status="primary" (click)="changePassword()">Save</button>
        <button *ngIf="btnProcessing" nbButton status="primary">Now Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
        <span style="padding: 8px;"></span>
    </div>
  </nb-card-body>
</nb-card> -->
