<div class="container">
  <!-- Main Card -->
  <nb-card>
    <nb-card-header>
      <div style="display: flex;flex-direction: row;justify-self: center;">
        <div style="flex: auto;"><span style="text-transform: uppercase;">Personal Information</span></div>
        <div><a href="javascript:void(0)" (click)="updateMyProfile()">Edit Profile</a></div>
      </div>
    </nb-card-header>
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xxxl-3"><img src="assets/images/nick.png" width="40%" style="background-size: cover;
    margin-top: 20px; margin-left: 50px;" class="rounded-circle mb-1" alt="Cinque Terre">
        <br>
      </div>


      <div class="col-lg-3 col-sm-6 col-xxxl-3">
        <div class="d-flex mt-4" style="margin-left: 15px;">
          <!-- <div class="ml-2">
            <h6 class="profileName">{{userlogin.firstName}} &nbsp; {{userlogin.lastName}}</h6>
            <span style="font-size: x-small;"><a href="#">Change Avatar</a></span>
          </div> -->


        </div>
        <div class="d-flex mt-3" style="margin-left: 15px;">
          <div class="ml-2">
            <i class="fas fa-envelope"></i> <span style="font-size: 14px; padding-left: 5px;">Email</span>
            <h6 style="font-size: x-small;">User Email</h6>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 col-xxxl-3">
        <div class="d-flex mt-4" style="margin-left: 15px;">
          <div class="ml-2">
            <i class="fas fa-phone"></i><span style="font-size: 14px; padding-left: 5px;">Phone</span>
            <h6 style="font-size: x-small;">08136895580</h6>
          </div>

        </div>
        <div class="d-flex mt-4" style="margin-left: 15px;">
          <div class="ml-2">
            <i class="fas fa-map-marker"></i> <span style="font-size: 14px; padding-left: 5px;">Address</span>
            <h6 style="font-size: x-small;">Olure street, Egbeda Lagos</h6>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 col-xxxl-3">
        <div class="d-flex mt-4" style="margin-left: 15px;">
          <div class="ml-2">
            <i class="fas fa-link"></i> <span style="font-size: 14px; padding-left: 5px;">Website</span>
            <h6 style="font-size: x-small;">www.website.com</h6>
          </div>

        </div>
        <div class="d-flex mt-4" style="margin-left: 15px;">
          <div class="ml-2">
            <i class="fab fa-linkedin-in"></i><span style="font-size: 14px; padding-left: 5px;">LinkedIn</span>
            <h6 style="font-size: x-small;">linkedin.com</h6>
          </div>
        </div>
      </div>
    </div>
  </nb-card>


  <!-- Work Experience -->

  <div class="row">
    <div class="col-md-8 col-xxl-8">
      <nb-card>
        <nb-card-body>
          <div>
            <div
              style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
              <div style="flex: auto; display: flex;padding-top: 15px;">
                <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Work Experience
                </p>
              </div>
              <button outline='true' nbButton status="primary" style="min-width: unset !important;">
                <nb-icon icon="plus"></nb-icon>&nbsp;Add
              </button>
            </div>
          </div>
          <span style="padding: 10px;"></span>

          <div class="WorkExperience">
            <div>
              <span class="experienceCompany">Electronic Settlement Limited -</span><span
                class="experienceTitle">Frontend Engineer</span>
            </div>
            <div style="display: flex;flex-direction: row;justify-self: center;">
              <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
              <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
            </div>

            <div class="row">
              <div class="col-lg-8">
                <p>
                  Wrote maintainable, responsive, and cross-browser code while updating
                  existing code to improve web application's performance.
                </p>
                <p>
                  Wrote maintainable, responsive, and cross-browser code while updating
                  existing code to improve web application's performance.
                </p>
              </div>
            </div>
          </div>

          <div class="WorkExperience">
            <div>
              <span class="experienceCompany">Electronic Settlement Limited -</span><span
                class="experienceTitle">Frontend Engineer</span>
            </div>
            <div style="display: flex;flex-direction: row;justify-self: center;">
              <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
              <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
            </div>

            <div class="row">
              <div class="col-lg-8">
                <p>
                  Wrote maintainable, responsive, and cross-browser code while updating
                  existing code to improve web application's performance.
                </p>
                <p>
                  Wrote maintainable, responsive, and cross-browser code while updating
                  existing code to improve web application's performance.
                </p>
              </div>
            </div>
          </div>

          <div class="WorkExperience">
            <div>
              <span class="experienceCompany">Electronic Settlement Limited -</span><span
                class="experienceTitle">Frontend Engineer</span>
            </div>
            <div style="display: flex;flex-direction: row;justify-self: center;">
              <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
              <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
            </div>

            <div class="row">
              <div class="col-lg-8">
                <p>
                  Wrote maintainable, responsive, and cross-browser code while updating
                  existing code to improve web application's performance.
                </p>
                <p>
                  Wrote maintainable, responsive, and cross-browser code while updating
                  existing code to improve web application's performance.
                </p>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>


    <!-- Evaluation Score Panel -->

    <div class="col-md-4 col-xxl-4">
      <div class="row">
        <div class="col-md-12 col-xxl-12">
          <nb-card>
            <nb-card-body>
              <div>
                <div
                  style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                  <div style="flex: auto; display: flex;padding-top: 15px;">
                    <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Evaluation
                      Score</p>
                  </div>

                </div>
              </div>
              <span style="padding: 20px;"></span>
              <div>
                <div
                  style="display: flex; flex-direction: column; justify-content: center; padding: 20px; background: rgba(72, 71, 224, 0.04);">
                  <span
                    style="font-size: 72px; padding-top: 30px; font-weight: 700; align-self: center;">64%</span><br>
                  <span
                    style="text-align: center; padding-bottom: 20px; align-self: center; font-size: 18px; color:#6495ED">Excellent</span>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

    </div>

  </div>

</div>
