<div class="bg-img">
  <div class="container">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light  bg-transparent" style="color: #fff;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img src="assets/images/logo_2.png" alt="" [routerLink]="['/applicants/dashboard']" style="width: 150px; height: 150px; margin-right: 200px; cursor: pointer;">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row; justify-content: space-between; color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
        </form>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #1F2566; background-color: #fff;">Post Job</button>
        </form>
      </div>
    </nav> -->

    <nav *ngFor="let i of [1,2]" [class]="{'fixed-Menu':i == 1}" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; padding: 0; background-color: #6495ED !important;">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #ffffff; display: none;"></span><i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
      </button>
      <img src="assets/images/logo_2.png" alt="Home" class="navbar-brand" [routerLink]="['/']" style="width: 150px; height: 150px; cursor: pointer; margin: -40px 0 !important; margin-right: 5% !important;">

    <div class="collapse navbar-collapse" [class]="{'d-flex':showMenu}" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/about']">About Us </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/services']">Services </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/blog']">Blog </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/artisans']">Artisans </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing </a>

        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="toggleMenu()" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" [class]="{'d-flex':showMenu}" style="display: flex; flex-direction: column; justify-items: flex-start;">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> -->
      </ul>

      <div *ngIf="!(authenService.authStatus | async)" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>

      <div *ngIf="authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Log Out</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/appdash']">Dashboard</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   <div class="container" style="margin: 3% 0;">
    <div style="padding-top: 30px;">
      <h6 style="text-align: center; color: #fff;">The Services we offer are golden!</h6>
    </div>
   </div>


  </div>

</div>

<div class="container" style="background-color: #fff; padding: 5%">
    <div style="padding: 2%;"></div>

  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">


    <div class="col-sm-7">
     <div class="row" style="padding: 50px;">
       <h3>Resume scoring and rewrite plan</h3>
       <span style="text-align: justify; line-height: 2.6;">Examine yourself! That is the first step in establishing your professional identity. ​
        For candidates, we provide a free forum for self-evaluation as well as CV improvement tips. ​
        Do you want resume writing specialist assistance? We are just a click away
       </span>
       <button class="btn btn-theme" type="submit" nbButton status="primary" style="color: #fff; margin-top: 5px">Score your Resume</button>

     </div>

       </div>

       <div class="col-sm-5">
        <img src="assets/images/Resume_scoring.png" style="height: 100%; width: 100%;"  alt="">
      </div>

  </div>

  <div style="padding: 2%;"></div>
 <!-- </div>


 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
    <div class="col-sm-5">
      <img src="assets/images/Job_Listing.png" style="height: 100%; width: 100%;"  alt="">
    </div>

    <div class="col-sm-7">
     <div class="row" style="padding: 50px;">
       <h3>Job Listing</h3>
       <span style="text-align: justify; line-height: 2.6;">As an employer, our HR team is committed to defining your preferences, as well as the precise requirements of the role you are seeking to occupy at all stages, and connecting you with the best choice for your organization.
        Attempting to fill a vacancy with a large number of interested candidates. Our website only recognizes confirmed recruiters and candidates
       </span>
     </div>

       </div>


  </div>

  <div style="padding: 2%;"></div>
 <!-- </div>

 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">



       <div class="col-sm-7">
        <div class="row" style="padding: 50px;">
          <h3>Training Board</h3>
          <span style="text-align: justify; line-height: 2.6;">Training Board: Use our portal's traffic to your advantage by
            releasing your training programs for a small fee. In order to gain traction with your training, we also deliver
             newsletters and follow-up emails to our entire database.

          </span>
          <button class="btn btn-theme" type="submit" nbButton status="primary" style="color: #fff; margin-top: 5px">Post a Training</button>
        </div>

          </div>

          <div class="col-sm-5">
            <img src="assets/images/about.png" style="height: 100%; width: 100%;"  alt="">
          </div>
  </div>

  <div style="padding: 2%;"></div>
 <!-- </div>


 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">

    <div class="col-sm-5">
      <img src="assets/images/Psychometric_Assessment.png" style="height: 100%; width: 100%;"  alt="">
    </div>
    <div class="col-sm-7">
     <div class="row" style="padding: 50px;">
       <h3>Psychometric Assessment</h3>
       <span style="text-align: justify; line-height: 2.6;">Psychometric Assessment:  You can create  psychometric and competency-based assessment,
         and it will serve as outstanding indicator of a candidate's ability to execute the tasks needed for the job.
       </span>
       <button class="btn btn-theme" type="submit" nbButton status="primary" style="color: #fff; margin-top: 5px">Get Started</button>

     </div>
       </div>

  </div>

  <div style="padding: 2%;"></div>

  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
    <div class="col-sm-7">
      <div class="row" style="padding: 50px;">
        <h3>Artisan Listing</h3>
        <span style="text-align: justify; line-height: 2.6; line-height: 2.6;">We all know how difficult it is to deal with artisan today. It's much more difficult to selectgood ones. ​
         We want to put them to light, so we've created a forum where you can find verified artisans with the right attitude.
        </span>
      </div>

        </div>
        <div class="col-sm-5">
          <img src="assets/images/Artisan_Listing.png" style="height: 100%; width: 100%;" alt="">
        </div>
   </div>
 </div>



<!-- <div class="row" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: #1F2566; height: 225px; width: 100%; padding: 30px;">
  <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
    <h6 style="color: #fff;">Company</h6><br>
    <span>About</span><br>
    <span>Help Center</span><br>
    <span>Services</span><br>
    <span>Services</span><br>
    <span>Training</span><br>

  </div>

  <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
    <h6 style="color: #fff;">Quick Access</h6><br>
    <span>Post a job</span><br>
    <span>Create Profile</span><br>
    <span>Login</span><br>

  </div>
  <div class="col-sm-3" style="display: flex; flex-direction: row; padding: 10px; justify-content: space-around; color: #fff; padding: 10px; text-align: center;">
    <button type="submit" class="btn my-button" nbButton status="primary">Log In</button>
    <button type="submit" class="btn my-button" nbButton status="primary" outline>Register now</button>
  </div>

  <div class="col-sm-3">
    <h6 style="color: #fff;">Subscribe to our newsletter</h6><br>
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Enter your email">
      <span class="input-group-btn">
      <button class="btn btn-theme" type="submit">Subscribe</button>
      </span>
       </div>
  </div>
  </div> -->
