<div class="bg-img">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  bg-transparent" style="color: #fff;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img src="assets/images/logo_2.png" alt="" style="width: 120px; height: 150px; padding-right: 20px;">

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']"><i class="fa fa-user" style="padding: 6px;"></i>Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']"><i class="fa fa-user" style="padding: 6px;"></i>Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #1F2566; background-color: #fff;">Post Job</button>
        </form>
      </div>
    </nav>



   <div class="container">
    <div style="padding-top: 30px;">
      <h6 style="text-align: center; color: #fff;">The Services we offer are golden!</h6>
    </div>
   </div>


  </div>

</div>

<div class="container" style="background-color: #fff; padding: 5%">
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
   <div class="col-sm-7">
     <div class="row" style="padding: 50px;">
       <h3>Artisan Listing</h3>
       <span style="text-align: justify;">We all know how difficult it is to deal with artisan today. It’s much more difficult to selectgood ones. ​We want to put them to light, 
        so we’ve created a forum where you can find verified artisans with the right attitude.
       </span>
     </div>

       </div>
       <div class="col-sm-5">
         <img src="assets/images/Artisan_Listing.png" style="height: 424px; width: 424px;" alt="">
       </div>
  </div>
 <!-- </div>


 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
    <div class="col-sm-5">
      <img src="assets/images/Resume_scoring.png" style="height: 422px; width: 422px;" alt="">
    </div>
   
    <div class="col-sm-7">
     <div class="row" style="padding: 50px;">
       <h3>Resume scoring and rewrite plan</h3>
       <span style="text-align: justify;">We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
      Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
     Trainers can also take advantage of the high traffic on the portal to advertise their training programs
       </span>
     </div>
 
       </div>
 
  </div>
 <!-- </div>


 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
   <div class="col-sm-7">
     <div class="row" style="padding: 50px;">
       <h3>Job Listing</h3>
       <span style="text-align: justify;">We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
      Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
     Trainers can also take advantage of the high traffic on the portal to advertise their training programs
       </span>
     </div>
 
       </div>
 
       <div class="col-sm-5">
         <img src="assets/images/Job_Listing.png" style="height: 424px; width: 424px;" alt="">
       </div>
  </div>
 <!-- </div>

 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">

       <div class="col-sm-5">
         <img src="assets/images/about.png" style="height: 424px; width: 424px;" alt="">
       </div>

       <div class="col-sm-7">
        <div class="row" style="padding: 50px;">
          <h3>Training Board</h3>
          <span style="text-align: justify;">We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
         Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
        Trainers can also take advantage of the high traffic on the portal to advertise their training programs
          </span>
        </div>
    
          </div>
  </div>
 <!-- </div>


 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
  
    <div class="col-sm-7">
     <div class="row" style="padding: 50px;">
       <h3>Psychometric Assessment</h3>
       <span style="text-align: justify;">We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
      Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
     Trainers can also take advantage of the high traffic on the portal to advertise their training programs
       </span>
     </div>
       </div>

       <div class="col-sm-5">
        <img src="assets/images/Psychometric_Assessment.png" style="height: 424px; width: 424px;" alt="">
      </div>
 
       
  </div>
 </div>

<!-- <div class="row" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: #1F2566; height: 225px; width: 100%; padding: 30px;">
  <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
    <h6 style="color: #fff;">Company</h6><br>
    <span>About</span><br>
    <span>Help Center</span><br>
    <span>Services</span><br>
    <span>Services</span><br>
    <span>Training</span><br>

  </div>

  <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
    <h6 style="color: #fff;">Quick Access</h6><br>
    <span>Post a job</span><br>
    <span>Create Profile</span><br>
    <span>Login</span><br>

  </div>
  <div class="col-sm-3" style="display: flex; flex-direction: row; padding: 10px; justify-content: space-around; color: #fff; padding: 10px; text-align: center;">
    <button type="submit" class="btn my-button" nbButton status="primary">Log In</button>
    <button type="submit" class="btn my-button" nbButton status="primary" outline>Register now</button>
  </div>

  <div class="col-sm-3">
    <h6 style="color: #fff;">Subscribe to our newsletter</h6><br>
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Enter your email">
      <span class="input-group-btn">
      <button class="btn btn-theme" type="submit">Subscribe</button>
      </span>
       </div>
  </div>
  </div> -->
