
 <div class="container">
  <div class="row" style="display: flex; flex-direction: row; justify-content: stretch; align-items:stretch; align-self: center; padding-top: 3%;">
    <div class="form-group col-sm-8 col-md-6 col-lg-4" >
       <select class="custom-select" name="functions" #functions="ngModel" [(ngModel)]="jobFilter.skillAreaId" placeholder="Search by Job Functions">
         <option *ngFor="let skill of skillData" [value]="skill.id">{{skill.text}}</option>
       </select>
     </div>


     <div class="form-group col-sm-8 col-md-6 col-lg-4">
       <select class="custom-select" name="state" #state="ngModel" [(ngModel)]="jobFilter.stateId" placeholder="Search by Locations">
         <option *ngFor="let state of stateData" [value]="state.id">{{state.text}}</option>
       </select>
     </div>

     <!-- <div class="form-group col-sm-8 col-md-6 col-lg-4">
       <select class="custom-select" name="industries" #industries="ngModel" [(ngModel)]="jobFilter.sectorId" placeholder="Search by Industries">
         <option *ngFor="let sec of sectorData" [value]="sec.id">{{sec.text}}</option>
       </select>
     </div> -->


     <div class="form-group col-sm-8 col-md-6 col-lg-4" >
      <button type="submit" class="btn btn-primary" size="small" fullWidth (click)="filterUpdated($event)" nbButton status="primary" style="border:2px solid #fff;">Search</button>
     </div>
   </div>
 </div>
<div>

  <div class="container" style="margin-top: 2%; background-color: transparent;">
    <div class="row row-cols-2">
        <nb-card class="col" *ngIf="jobsCounter < 1">
          <nb-card-header  style="font-weight:900;">
            No Jobs
          </nb-card-header>
          <nb-card-body>
            <ngx-default-content pageHeader={{myPlanHeader}} pageDescription="{{myPlanDesc}}" [loading]="loading"></ngx-default-content>
          </nb-card-body>
        </nb-card>
        <nb-card *ngIf="jobsCounter > 0" style="background-color: transparent;">
          <nb-card-header *ngIf="jobsCounter > 0" style="font-weight:900;">
            Top Jobs
          </nb-card-header>
          <nb-card-body>
                <div class="row">
                  <div *ngFor="let job of allJobs" class="col-sm-12 col-md-4 col-lg-4">
                    <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; margin-bottom: 15px;">
                      <div class="col-sm-12 col-md-4 col-lg-4">
                        <img src="assets/images/jobs.png" style="width:5rem;">
                      </div>
                      <div class="col-sm-12 col-md-8 col-lg-8">
                          <span style="font-weight: 600;"><a [routerLink]="['/applicants/details/', job.id]">{{job.position}}</a></span>
                          <span style="display: block;">{{job.recruiter}}</span>
                          <span style="display: block;">{{job.state}} | {{job.jobTypeName}}</span>
                          <span style="display: block;">Closes in {{job.jobCloseInDays}} days</span>
                      </div>
                    </div>
                  </div>

                </div>

                <hr>
          </nb-card-body>
        </nb-card>
      </div>

  </div>
