<div class="bg-img">
  <div class="container">
    <!-- <ngx-navigator></ngx-navigator> -->
    <nav *ngFor="let i of [1,2]" [class]="{'fixed-Menu':i == 1}" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; padding: 0; background-color: #6495ED !important;">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #ffffff; display: none;"></span><i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
      </button>
      <img src="assets/images/logo_2.png" alt="Home" class="navbar-brand" [routerLink]="['/']" style="width: 150px; height: 150px; cursor: pointer; margin: -40px 0 !important; margin-right: 5% !important;">

    <div class="collapse navbar-collapse" [class]="{'d-flex':showMenu}" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/about']">About Us </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/services']">Services </a>
        </li>
        <li class="nav-item active">
          <!-- <a class="nav-link" [routerLink]="['/applicants/blog']">Blog </a> -->
          <a href="https://blog.hrheadhunting.ng/" target="_blank" rel="noopener noreferrer">Blog</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/boards']">Job Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/artisans']">Artisan Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/training']">Training Board</a>
        </li>

        <li *ngIf="!(authenService.authStatus | async)" class="nav-item active">
          <a class="nav-link" [routerLink]="['/auth/login']">Score CV </a>
        </li>

        <li *ngIf="authenService.authStatus | async" class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV </a>
        </li>

      </ul>

      <div *ngIf="!(authenService.authStatus | async)" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>

      <div *ngIf="authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Log Out</a>
          </li>

          <li *ngIf="myRole === 'ASS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/appdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'RSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/consdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'CSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/empdash']">Dashboard</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

   <!-- <div class="container" style="margin: 3% 0;">
    <div style="padding-top: 30px;">
      <h6 style="text-align: center; color: #fff;">News around HR Headhunting</h6>
    </div>
   </div> -->


  </div>

</div>

<div class="container" style="background-color: #fff; padding: 5%; font-family: 'Rubik';">
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; font-family: 'Rubik';">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="assets/images/Artisan_Listing.png" style="height: 100%; width: 100%; padding: 5%;" alt="">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
     <div class="row" style="padding: 20px;">
       <h3>News One</h3><br>

       <span style="text-align: justify; line-height: 2.6;"><span style="color: #afaea5;">26/06/2021 by Admin</span><br> We all know how difficult it is to deal with artisan today. It’s much more difficult to selectgood ones. ​We want to put them to light,
        so we’ve created a forum where you can find verified artisans with the right attitude.
       </span>
       <!-- <button class="btn" nbButton outline size="small" style="color:#fff; margin-top: 20px; background-color:#1F2566;">Read More</button> -->

     </div>

       </div>

  </div>
 <!-- </div>


 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; font-family: 'Rubik';">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="assets/images/Resume_scoring.png" style="height: 100%; width: 100%; padding: 5%;" alt="">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
     <div class="row" style="padding: 50px;">
       <h3>News Two</h3>
       <span style="text-align: justify;  line-height: 2.6;"><span style="color: #afaea5;">26/06/2021 by Admin</span><br>We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
      Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
     Trainers can also take advantage of the high traffic on the portal to advertise their training programs
       </span>
       <!-- <button class="btn" nbButton outline size="small" style="color:#fff; margin-top: 20px; background-color:#1F2566;">Read More</button> -->

     </div>

       </div>

  </div>
 <!-- </div>


 <div class="container" style="background-color: #fff;"> -->
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="assets/images/Job_Listing.png" style="height: 100%; width: 100%; padding: 5%;" alt="">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
     <div class="row" style="padding: 50px;">
       <h3>News Three</h3>
       <span style="text-align: justify;  line-height: 2.6; font-family: 'Rubik';"><span style="color: #afaea5;">26/06/2021 by Admin</span><br> We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
      Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
     Trainers can also take advantage of the high traffic on the portal to advertise their training programs
       </span>
       <!-- <button class="btn" nbButton outline size="small" style="color:#fff; margin-top: 20px; background-color:#1F2566;">Read More</button> -->
     </div>

       </div>


  </div>



 <div class="container" style="background-color: #fff; font-family: 'Rubik';">
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; font-family: 'Rubik';">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="assets/images/Psychometric_Assessment.png" style="height: 100%; width: 100%; padding: 5%;" alt="">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
     <div class="row" style="padding: 50px;">
       <h3>News Four</h3>
       <span style="text-align: justify;  line-height: 2.6;"><span style="font-family: 'Rubik'; color: #afaea5;">26/06/2021 by Admin</span><br>We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
      Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
     Trainers can also take advantage of the high traffic on the portal to advertise their training programs
       </span>
       <!-- <button class="btn" nbButton outline size="small" style="color:#fff; margin-top: 20px; background-color:#1F2566;">Read More</button> -->

     </div>
       </div>




  </div>
 </div>
