<div class="bg-img">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  bg-transparent" style="color: #fff;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img src="assets/images/logo_2.png" alt="" style="width: 120px; height: 150px; padding-right: 20px;">

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']"><i class="fa fa-user" style="padding: 6px;"></i>Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']"><i class="fa fa-user" style="padding: 6px;"></i>Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #1F2566; background-color: #fff;">Post Job</button>
        </form>
      </div>
    </nav>



   <div class="container">
    <div style="padding-top: 30px;">
      <h6 style="text-align: center; color: #fff;">Get hired for any job, any time.</h6>
    </div>
    <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; align-self: center; padding-top: 3%; margin-left: 10%;">
      <div class="form-group col-sm-3">
         <select class="custom-select" name="" id="">
           <option value="">Search by Locations</option>
           <option value="">1</option>
         </select>
       </div>


       <div class="form-group col-sm-3">
         <select class="custom-select" name="" id="">
           <option value="">Search by Locations</option>
           <option value="">1</option>
         </select>
       </div>

       <div class="form-group col-sm-3">
         <select class="custom-select" name="" id="">
           <option value="">Search by Locations</option>
           <option value="">1</option>
         </select>
       </div>


       <div class="form-group col-sm-3">
        <button type="submit" class="btn my-button" nbButton status="primary">Search Now</button>
       </div>
     </div>
   </div>


  </div>

</div>


<div style="margin-top: 30%;">

</div>


<div class="row" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: #1F2566; height: 225px; width: 100%; padding: 30px;">
  <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
    <h6 style="color: #fff;">Company</h6><br>
    <span>About</span><br>
    <span>Help Center</span><br>
    <span>Services</span><br>
    <span>Services</span><br>
    <span>Training</span><br>

  </div>

  <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
    <h6 style="color: #fff;">Quick Access</h6><br>
    <span>Post a job</span><br>
    <span>Create Profile</span><br>
    <span>Login</span><br>

  </div>
  <div class="col-sm-3" style="display: flex; flex-direction: row; padding: 10px; justify-content: space-around; color: #fff; padding: 10px; text-align: center;">
    <button type="submit" class="btn my-button" nbButton status="primary">Log In</button>
    <button type="submit" class="btn my-button" nbButton status="primary" outline>Register now</button>
  </div>

  <div class="col-sm-3">
    <h6 style="color: #fff;">Subscribe to our newsletter</h6><br>
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Enter your email">
      <span class="input-group-btn">
      <button class="btn btn-theme" type="submit">Subscribe</button>
      </span>
       </div>
  </div>
  </div>
