<ngx-single-column-layout>
  <router-outlet></router-outlet>
</ngx-single-column-layout>

<div class="row" style="display: flex; background-color: #1F2566; flex-direction: row; padding: 10px; justify-content: space-between; padding: 10px; text-align: left;">
  <div class="row" style="display: flex; flex-direction: row; align-items: center; width: 100%; justify-content: space-between; background-color: #1F2566; height: 225px; width: 100%; padding: 30px;">
    <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
      <h6 style="color: #fff;">Company</h6><br>
      <span>About</span><br>
      <span>Help Center</span><br>
      <span>Services</span><br>
      <span>Training</span><br>
  
    </div>
  
    <div class="col-sm-3" style="color: #fff; padding: 10px; text-align: center;">
      <h6 style="color: #fff;">Quick Access</h6><br>
      <span>Post a job</span><br>
      <span>Create Profile</span><br>
      <span>Login</span><br>
  
    </div>
    <div class="col-sm-3" style="display: flex; flex-direction: row; padding: 10px; justify-content: space-around; color: #fff; padding: 10px; text-align: center;">
      <button type="submit" class="btn my-button" nbButton status="primary">Log In</button>
      <button type="submit" class="btn my-button" nbButton status="primary" outline>Register now</button>
    </div>
  
    <div class="col-sm-3">
      <h6 style="color: #fff;">Subscribe to our newsletter</h6><br>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Enter your email">
        <span class="input-group-btn">
        <button class="btn btn-theme" type="submit">Subscribe</button>
        </span><br>
       
         </div>
         <div style="display: block; padding-top: 20px;">
          <p style="color: #ffffff;">Contact Us: 23 Hawley Street Lagos Island</p>
          <p style="color: #ffffff;">Email: Info@hrheadhunting.com</p>
        </div>
    </div>
    </div>
    <hr class="new1" style="border-top: 2px solid #ffffff; color: #ffffff;"> 


    <div class="row" style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; background-color: #1F2566;">
      <div class="col-sm-6" style="margin-left:5%; display: flex; flex-direction: row; justify-content: space-between; color: #ffffff;">
        <img src="assets/images/logo_2.png" alt="" style="height: 100px; margin-left: 8%;">
      </div>
    
      <div class="col-sm-4" style="margin-right:5%;">
        <div style="display: flex; flex-direction: row; justify-content: space-between; color: #ffffff;">
          <p style="color: #ffffff;">Terms and Policy</p>
          <i class="fas fa-share-alt"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-twitter"></i>
          <i class="fas fa-link"></i>
        </div>

      </div>
    </div>

  </div>
