// hr.new1 {
//   border-top: 2px solid #fff !important;
//   color: #fff;
// }
.buttonwrapper {
  display: inline-block;
}

input{
  background-color: transparent;
  border: 2px solid #fff;
}

// button {
//   margin-left: -50%;
//   border: none;
//   background-color: transparent;
// }
