<ngx-single-column-layout>
  <router-outlet></router-outlet>
</ngx-single-column-layout>
    <div class="row" style="background-color: #1F2566; font-size: small; color: #fff; padding: 50px; text-align: left;">
      <div class="col-sm-10 col-md-6 col-lg-3">
        <h6 style="color: #fff;">Quick Access</h6>
        <p><a [routerLink]="['/auth/login']" style="color: #ffffff !important;">Post a job</a></p>
        <p><a [routerLink]="['/auth/login']" style="color: #ffffff !important;">Create Profile</a></p>
        <p><a [routerLink]="['/auth/login']" style="color: #ffffff !important;">Login</a></p>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-3">
        <h6 style="color: #fff;">Company</h6>
        <p><a [routerLink]="['applicants/about']" style="color: #ffffff !important;" >About</a></p>
        <p><a [routerLink]="['applicants/faqs']" style="color: #ffffff !important;" >Help Center</a></p>
        <p><a [routerLink]="['applicants/services']" style="color: #ffffff !important;" >Services</a></p>
        <p><a [routerLink]="['applicants/training']" style="color: #ffffff !important;" >Training</a></p>
      </div>
      <div *ngIf="!(auth.authStatus | async)" class="col-sm-10 col-md-6 col-lg-3" style="margin-top: 30px;">
        <button class="btn" nbButton [routerLink]="['/auth/login']" outline style="color: #6495ED; background-color: #fff; margin-right: 8px;">Log In</button>

        <button type="submit" class="btn my-button" [routerLink]="['/auth/signup']" nbButton status="primary" >Register now</button>
      </div>

      <div *ngIf="auth.authStatus | async" class="col-sm-10 col-md-6 col-lg-3" style="margin-top: 30px;"></div>
      <div class="col-sm-10 col-md-6 col-lg-3 minfoot" >
        <h6 style="color: #fff; text-align: left !important;">Subscribe to our newsletter</h6><br>
        <div class="input-group col" style="background-color: #ffffff;border: 5px solid #ffffff;">
          <input type="email" class="form-control" placeholder="Enter your email" style="color: #000; width: 50%;">
          <button class="btn btn-primary" type="submit" size="tiny" (click)="subscription()" nbButton outline style="background-color: #6495ED; color: #ffffff;">Subscribe<i class="fa fa-arrow-right" style="color: #ffffff; padding-left: 10px;" aria-hidden="true"></i></button>
           </div>
           <div style="display: block; padding-top: 20px;">
            <p style="color: #ffffff;">Contact Us: 23 Hawley Street Lagos Island.</p>
            <p style="color: #ffffff;">Email: Info@hrheadhunting.com</p>
          </div>
      </div>
    </div>

    <div style="width: 100%; border: 1px solid #ffffff; margin: 1px;"></div>

      <div class="row" style="display: flex; flex-direction: row; justify-content: space-around; background-color: #1F2566;">
        <div class="col-sm-6 col-md-6 col-lg-6" style=" display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; color: #ffffff;">
          <img src="assets/images/logo_2.png" [routerLink]="['/']"  alt="" style="cursor: pointer; height: 100px;">
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6" style=" margin-top:2%; display: flex; flex-direction: row; justify-content:center; color: #ffffff;">
            <div class="row">
              <p style="color: #D8FFEF; margin-right: 10px;">Terms and Policy</p>
              <a href="https://www.facebook.com/hrheadhuntingltd" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="margin-right: 10px;"></i></a>
              <a href="https://www.linkedin.com/company/hr-headhunting-limited/about/?viewAsMember=true" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in" style="margin-right: 10px;"></i></a>
              <a href="https://twitter.com/hrheadhunting" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter" style="margin-right: 10px;"></i></a>
              <a href="https://www.instagram.com/hrheadhuntingltd/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"  style="margin-right: 10px;"></i></a>
              <a href="https://www.instagram.com/hrheadhuntingltd/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="margin-right: 10px;"></i></a>
            </div>
        </div>
      </div>

  <!-- </div> -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  // var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  // (function(){
  // var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  // s1.async=true;
  // s1.src='https://embed.tawk.to/61240dac649e0a0a5cd28f02/1fdqdar62';
  // s1.charset='UTF-8';
  // s1.setAttribute('crossorigin','*');
  // s0.parentNode.insertBefore(s1,s0);
  // })();
  // </script>
  <!--End of Tawk.to Script-->
