<ngx-single-column-layout>
  <router-outlet></router-outlet>
</ngx-single-column-layout>

<div class="row" style="display: flex; background-color: #1F2566; flex-direction: row; padding: 10px; justify-content: space-between; padding: 30px; text-align: left;">
    <div class="col-sm-2" style="color: #fff; padding: 10px; text-align: center;">
      <h6 style="color: #fff;">Company</h6><br>
      <span>About</span><br>
      <span>Help Center</span><br>
      <span>Services</span><br>
      <span>Training</span><br>

    </div>

    <div class="col-sm-2" style="color: #fff; padding: 10px; text-align: center;">
      <h6 style="color: #fff;">Quick Access</h6><br>
      <span>Post a job</span><br>
      <span>Create Profile</span><br>
      <span>Login</span><br>

    </div>

    <div class="col-sm-4" style="margin-top: 10px;">
      <button class="btn" nbButton outline style="color: #6495ED; background-color: #fff; margin-right: 8px; width: 35%;">Log In</button>

      <button type="submit" class="btn my-button" nbButton status="primary" style="width: 35%;">Register now</button>


    </div>

    <div class="col-sm-4" style="color: #fff; text-align: right;">
      <h6 style="color: #fff; text-align: left !important;">Subscribe to our newsletter</h6><br>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Enter your email">
        <span class="input-group-btn">
        <button class="btn btn-theme" type="submit" nbButton outline style="color: #6495ED;">Subscribe</button>
        </span><br>

         </div>
         <div style="display: block; padding-top: 20px;">
          <p style="color: #ffffff; font-weight: 600;">Contact Us: 23 Hawley Street Lagos Island.</p>
          <p style="color: #ffffff; font-weight: 600;">Email: Info@hrheadhunting.com</p>
        </div>
    </div>

    <hr class="new1">

    <div style="width: 100%; border: 1px solid #ffffff; margin: 1px;"></div>

    <div class="row" style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; background-color: #1F2566;">
      <div class="col-sm-6" style="margin-left:5%; display: flex; flex-direction: row; justify-content: space-between; color: #ffffff;">
        <img src="assets/images/logo_2.png" alt="" style="height: 100px;">
      </div>

      <div class="col-sm-4" style="margin-top:2%; display: flex; flex-direction: row; justify-content: space-around; color: #ffffff;">
        <!-- <div style=""> -->
          <p style="color: #ffffff;">Terms and Policy</p>
          <div style="display: flex; flex-direction: row; justify-content: flex-start;">
            <i class="fas fa-share-alt" style="margin-right: 15px;"></i>
            <i class="fab fa-linkedin-in" style="margin-right: 15px;"></i>
            <i class="fab fa-twitter" style="margin-right: 15px;"></i>
            <i class="fas fa-link" ></i>
          </div>
        <!-- </div> -->

      </div>
    </div>

  </div>
