<ngx-componentsheader pageName='Applicant Selection'></ngx-componentsheader>
<div *ngIf="applicationCounter < 1" style="background-color: #ffffff;">
  <nb-card>
    <nb-card-body>
        <ngx-default-content pageHeader={{myPlanHeader}} pageDescription="{{myPlanDesc}}" [loading]="loading"></ngx-default-content>
    </nb-card-body>
  </nb-card>
</div>

<!--
<nb-tabset>
  <nb-tab tabTitle="All Apl">
    Tab content 1
  </nb-tab>
  <nb-tab tabTitle="Simple Tab #2">
    Tab content 2
  </nb-tab>
 </nb-tabset> -->

<div *ngIf="applicationCounter > 0">
  <nb-card>
    <ngx-tablecomponent
    [tableColum]="myApplicantTable"
    [userData]='allApplications'
    (actionClick)='tableActionClick($event)'
    (filterChange)="filterUpdated($event)"
    [showActions]="true"
    [showFilter]="true">
  </ngx-tablecomponent>
  </nb-card>
</div>
