<div class="limiter" style="font-family: Rubik !important; margin: 0 10%;">
  <div style="margin-left: 6%;">
    <img src="assets/images/Logo.png" alt="" style="width: 150px; height: 150px;">
  </div>
  <div class="container-login" >
    <div class="col-sm-4" style="background-color: #6495ED; height: 500px; padding: 30px;">
      <img src="assets/images/login.png" alt="" class="img-central">
    </div>
    <div class="col-sm-4" style="background-color: #ffffff; padding: 10px; height: 500px; padding: 40px;">
      <h6 style="color: #2E384D;">
        Reset Password
      </h6>
      <div style="padding: 30px;"></div>
      <div style="padding-top: 10px;">
        <label for="inputPassword4">Password</label>
      <div style="display: flex;border: 0.800000011920929px solid #CED4DA;border-radius: 3px;background-color: #f7f9fc;padding: 5px;">
        <input [type]="show ? 'text' : 'password'" nbInput fullWidth placeholder="Password" name="password" [(ngModel)]="resetPass.password" #password="ngModel" required style="border: none;">
        <nb-icon  (click)="viewpassword()" *ngIf="!show"  icon="eye-off-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
        <nb-icon  (click)="viewpassword()" *ngIf="show"  icon="eye-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors.required">Password is required</div>
      </div>
      </div>

      <div style="padding-top: 10px;">
        <label for="inputPassword4">Confirm Password</label>
      <div style="display: flex;border: 0.800000011920929px solid #CED4DA;border-radius: 3px;background-color: #f7f9fc;padding: 5px;">
        <input [type]="show ? 'text' : 'password'" nbInput fullWidth placeholder="Password" name="conpassword" [(ngModel)]="resetPass.confirmPassword" #conpassword="ngModel" required style="border: none;">
        <nb-icon  (click)="viewpassword()" *ngIf="!show"  icon="eye-off-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
        <nb-icon  (click)="viewpassword()" *ngIf="show"  icon="eye-outline" style="font-size: 32px;color: #95A8B8;cursor: pointer;"></nb-icon>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors.required">Password is required</div>
      </div>
      </div>
      <div style="padding: 5px;"></div>
      <p style="text-align: center;font-size: .9rem;color: #71727B;font-weight: 400; font-family: Rubik;">I don't have an account? <a routerLink="/auth/signup" style="font-weight: 700;">Sign Up</a></p>
    </div>
  </div>
</div>
