 <div class="container" style="background-color: #fff; color: #4C7ED8;">
    <nav class="navbar navbar-expand-lg" style="color: #4C7ED8">
      <button class="navbar-toggler"  ype="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img src="assets/images/Logo.png" [routerLink]="['/applicants']" alt="" style="width: 120px; height: 150px; padding-right: 20px;">

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto nav justify-content-center" style="color: #4C7ED8; font-size: 16px;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']"><i class="fa fa-user" style="padding: 6px;"></i>Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']"><i class="fa fa-user" style="padding: 6px;"></i>Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #1F2566; background-color: #fff; border: 2px solid #4C7ED8;">Post Job</button>
        </form>
      </div>
    </nav>
 </div>

 <div class="container" style="background-color: #fff;">
 <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
  <div class="col-sm-7">
    <div class="row" style="padding: 50px;">
      <h3>About Us</h3>
      <span style="text-align: justify;">We are Nigeria top job portal, that makes the recruiting process seamless for recruiters and job seekers alike.
     Job seekers can upload their video resumes and rate their resumes using Ai  to get the best positions.  Recruiters can upload psychometric and aptitude tests, filter key aspects of job seekers resumes, watch candidates video pitch; making short listing easy, cost and time saving. The portal has verified artisans in its offerings, making the  hiring of technicians much easier.
    Trainers can also take advantage of the high traffic on the portal to advertise their training programs
      </span>
    </div>

    <div class="row" style="background-color:#1F2566; margin: 20px 40px; border-radius: 7px;">
      <span style="text-align: justify; color: #fff; padding: 30px;">
        We do not exclude artisans from our products. Today’s artisans are in high demand in Nigeria.
        We simply want to make the supply of manpower less demanding.
      </span>
    </div>
      </div>

      <div class="col-sm-5">
        <img src="assets/images/about.png" style="height: 544px; width: 435;" alt="">
      </div>
 </div>
</div>

<div class="container" style="background-color: #eaecf0;">
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
    
    <div class="col-sm-3">
      <img src="assets/images/lady_point.png" style="height: 100%; width: 100%;" alt="">
    </div>
   
    <div class="col-sm-9">
      <!-- <div class="row" style="padding: 50px;">
        <h3>The Services we offer</h3>
        <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <span style="text-align: justify;">At HR Headhunting, we offer you the best shot at getting what you want
          </span>
          <span>
            <a class="nav-link" [routerLink]="['/applicants/about']">Read More about Services</a>
          </span>
        </div>

        <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <nb-card class="col-sm-3 signup-option">
              <nb-card-body>
                <img src="assets/images/Job_Seeker.png" style="width: 40px; height: 40px;"  alt="">
              <span>
                Job Board
              </span>
              </nb-card-body>
            </nb-card>     

            <nb-card class="col-sm-3 signup-option">
              <nb-card-body>
                <img src="assets/images/Job_Seeker.png" style="width: 40px; height: 40px;"  alt="">
              <span>
                Training Board
              </span>
              </nb-card-body>
            </nb-card>     

            <nb-card class="col-sm-3 signup-option">
              <nb-card-body>
                <img src="assets/images/Job_Seeker.png" style="width: 40px; height: 40px;"  alt="">
              <span>
                Candidate Screening Technology
              </span>
              </nb-card-body>
            </nb-card>     

            <nb-card class="col-sm-3 signup-option">
              <nb-card-body>
                <img src="assets/images/Job_Seeker.png" style="width: 40px; height: 40px; "  alt="">
              <span>
                Resume Analysis
              </span>
              </nb-card-body>
            </nb-card>     
      </div>
    </div>
    <div class="row" style="padding: 50px;">
      <h3>The Services we offer</h3>
      <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <span style="text-align: justify;">At HR Headhunting, we offer you the best shot at getting what you want
        </span>
        <span>
          <a class="nav-link" [routerLink]="['/applicants/about']">Read More about Services</a>
        </span>
      </div>
    </div> -->

    <div style="margin: 5%;"></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/Job_Board.jpg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">Job Board</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/Resume_Rewrite.svg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">Training Board</p>
            
          </div>
        </div>
      </div>
    
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/Candidate.svg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">Candidate Screening Technology</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/Resume_Analysis.svg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">Resume Analysis</p>
    
          </div>
        </div>
      </div>
    </div>
<div style="margin: 5%;"></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/Resume_Rewrite.svg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">Resume Rewrite</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/LinkedIn.jpg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">LinkedIn Profile Optimisation</p>
            
          </div>
        </div>
      </div>
    
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/Artisans_Finder.jpg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">Artisans Finder</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="assets/images/Resume_Rewrite.svg" style="width: 40px; height: 40px;"  alt=""></h5>
            <p class="card-text">Seamless incorporation of pyschometric testing into candidate search</p>
    
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

<div class="container">
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
    
    <div class="col-sm-5" style="background-color: #6495ED2F; padding: 4%;">
      <div class="text-center">
          <img src="assets/images/Mission.png" alt="" style="height: 230px; width: 205px;">
          <h6>Our Mission</h6>
          <span>
            To use technology to address human capital needs from 
            start to finish; making all levels of the recruitment process seamless
          </span>
      </div>
    </div>
   
    <div class="col-sm-7" style="background-color: #FFFFFF; padding: 4%;">
      <div class="text-center">
        <img src="assets/images/Vision.jpg" alt="" style="height: 230px; width: 205px;">
        <h6>Our Vision</h6>
        <span>
          To use technology to solve all recruitment needs on time and to specification
        </span>
      </div>
    </div>
  </div>
 </div>

 <div class="container" style="background-color: #E2E3E5;">
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; ">
    
   <div class="col-sm-7" style="padding: 6%;">
    <h3>About Us</h3>
     <div class="row" class="shadow p-3 mb-5 bg-white rounded " style="padding: 10px; width: 60%;">
      <i class="fa fa-star" style="width: 40px; height: 30px; padding-right: 10px; color: #4C7ED8" aria-hidden="true"></i>
      <span>The use of AI to score resumes</span>
     </div>

     <div class="row" class="shadow p-3 mb-5 bg-white rounded " style="padding: 10px; width: 70%;">
      <i class="fa fa-star" style="width: 40px; height: 30px; padding-right: 10px; color: #4C7ED8" aria-hidden="true"></i>
      <span>Affordable solutions and Job winning resumes</span>
   </div>

   <div class="row" class="shadow p-3 mb-5 bg-white rounded " style="padding: 10px; width: 80%;">
    <i class="fa fa-star" style="width: 40px; height: 30px; padding-right: 10px; color: #4C7ED8" aria-hidden="true"></i>
    <span>The video resumes available makes it easy to shortlist</span>
 </div>

 <div class="row" class="shadow p-3 mb-5 bg-white rounded " style="padding: 10px; width: 95%;">
  <i class="fa fa-star" style="width: 40px; height: 30px; padding-right: 10px; color: #4C7ED8" aria-hidden="true"></i>
  <span>Seamless incorporation of psychometric testing into candidate search</span>
</div>

<div class="row" class="shadow p-3 mb-5 bg-white rounded " style="padding: 10px; width: 100%;">
  <!-- <img src="assets/icons/linkedin.png" style="width: 40px; height: 30px; padding-right: 10px;" alt="">
   -->
   <i class="fa fa-star" style="width: 40px; height: 30px; padding-right: 10px; color: #4C7ED8" aria-hidden="true"></i>
  <span>Access to candidate profiles thereby reducing the time spent on shortlisting</span>
</div>
 
    </div>
 
       <div class="col-sm-5" style="padding-top: 8%;">
         <img src="assets/images/about.png" style="height: 544px; width: 435;" alt="">
       </div>
  </div>
 </div>

