<div class="bg-img">
  <div class="container">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light  bg-transparent" style="color: #fff;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img src="assets/images/logo_2.png" alt="" [routerLink]="['/applicants/dashboard']" style="width: 150px; height: 150px; margin-right: 200px; cursor: pointer;">

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row; justify-content: space-between; color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
        </form>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #1F2566; background-color: #fff;">Post Job</button>
        </form>
      </div>
    </nav> -->

    <nav *ngFor="let i of [1,2]" [class]="{'fixed-Menu':i == 1}" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; padding: 0; background-color: #6495ED !important;">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #ffffff; display: none;"></span><i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
      </button>
      <img src="assets/images/logo_2.png" alt="Home" class="navbar-brand" [routerLink]="['/']" style="width: 150px; height: 150px; cursor: pointer; margin: -40px 0 !important; margin-right: 5% !important;">

    <div class="collapse navbar-collapse" [class]="{'d-flex':showMenu}" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/about']">About Us </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/services']">Services </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/blog']">Blog </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/boards']">Job Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/artisans']">Artisan Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/training']">Training Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV </a>
        </li>

      </ul>

      <div *ngIf="!(authenService.authStatus | async)" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>

      <div *ngIf="authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Log Out</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/appdash']">Dashboard</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
   <div class="container" style="margin: 3% 0;">
    <div style="padding-top: 30px;">
      <h6 style="text-align: center; color: #fff; font-family: 'Rubik';">Let us score your CV and get you the job</h6>
    </div>
</div>
  </div>

</div>

<div *ngIf="pageId === 0" class="row" style="display: flex; flex-direction: row; justify-content: space-between; padding: 50px; margin: 4%; font-family: 'Rubik';">
  <div class="col-sm-5">
    <img src="assets/images/Resume_scoring.png" style="height: 100%; width: 100%;" alt="">
  </div>

  <div class="col-sm-6" style="border: 5px solid #E8E8E8BE; border-radius: 5px; padding: 2% 5%; font-family: 'Rubik';">
     <form>
      <h5>Score your CV now</h5>
      <span style="text-align: justify;"><p>Upload your CV and find out your CV score</p><br></span>
      <div class="form-group">
        <label for="Allowed Formats">Allowed Formats: PDF DOC DOCX</label>
        <!-- <ngx-file-upload (change)="handleFileSelect($event)"></ngx-file-upload> -->
        <input type="file" class="form-control-file" name="cv" (change)="handleFileSelect($event)" accept=".pdf,.doc,.docx">
        <div style="padding: 10px;"></div>
      </div>

      <div style="display: flex; flex-direction: row; justify-content: right; align-items: flex-end;">
      <button *ngIf="!btnprocessing"  type="button" nbButton status="primary" (click) ="analyzeCv()">Analyze</button>
      <button *ngIf="btnprocessing" type="button" nbButton status="primary">Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
      <div style="padding: 5px;"></div>
      </div>
    </form>
     </div>
</div>

<div *ngIf="pageId === 1" class="row" style="display: flex; flex-direction: row; justify-content: space-between; padding: 50px; margin: 4%; font-family: 'Rubik';">
    <nb-tabset>
      <nb-tab tabTitle="Summary">
        <div class="row">
          <div class="col-md-3" style="height: 100%; width: 100%;" alt="">
            <h6>Your CV-Score</h6>
            <img [src]="imgSrc">
           </div>
          <div class="col-md-4">
            <h3></h3>
            <div class="row">
              <div class="col-md-12 col-xxl-12">
                <nb-card>
                  <nb-card-body>
                    <div>
                      <div
                        style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                        <div style="flex: auto; display: flex;padding-top: 15px;">
                          <p style="color: #6495ED !important; text-transform: uppercase;" class="listsubheader">{{analysisResult.gradeHeadlineField}}</p>
                        </div>

                      </div>
                    </div>
                    <span style="padding: 20px;"></span>
                    <div>
                      <div
                        style="display: flex; flex-direction: column; justify-content: center; padding: 20px; background: rgba(72, 71, 224, 0.04);">
                        <img [src]="analysisResult.normalImgField" alt=""><br>
                        <span
                          style="text-align: center; padding-bottom: 20px; align-self: center; font-size: 18px;">Percentage: {{analysisResult.percentileField}} Percentile </span>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <h6>Tips For Improvement</h6>

         <span style="padding:20px;">
          <p>We detected an objective section in your resume. Our studies consistently show these lower the quality of a resume.
            Your only relevant objective is to provide value to your employer.</p>
         </span>

        </div>
      </nb-tab>
      <nb-tab tabTitle="CV Analysis">

          <div class="row">
            <div class="col-md-3" style="height: 100%; width: 100%;" alt="">
              <h6>Your CV-Score</h6>
              <img [src]="imgSrc">
            </div>

            <div class="col-md-4">
              <h3></h3>
              <div class="row">
              <span >
                Your resume needs some improvement. A good resume tells your employer a powerful story about why you would be valuable to their company.
                This resume needs some improvement before anybody will be wowed.
              </span>

              <div class="row" style="text-align: center; display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                <div class="dot col-md-4" style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                  <h6>Impact</h6>
                  <strong>{{analysisResult.impactScoreField}}</strong>
                </div>
                <div class="dot col-md-4" style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                  <h6>Brevity</h6>
                  <strong>{{analysisResult.brevityScoreField}}</strong>
                </div>
                <div class="dot col-md-4"  style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                  <h6>Depth</h6>
                  <strong>{{analysisResult.depthScoreField}}</strong>
                </div>
              </div>
              </div>
            </div>
          </div>
      </nb-tab>

      <nb-tab tabTitle="CV Rewrite">
            <h6>Resume Rewrite</h6>
          <span>
            It is important to keep your resume concise, optimised and impactful.
          </span>

          <span>
            A highly targeted resume is typically more effective than one diffused among several disparate industries
          </span>
      </nb-tab>
     </nb-tabset>
</div>
