<div class="bg-img">
  <div class="container">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light  bg-transparent" style="color: #fff;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img src="assets/images/logo_2.png" alt="" [routerLink]="['/applicants/dashboard']" style="width: 150px; height: 150px; margin-right: 200px; cursor: pointer;">

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row; justify-content: space-between; color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
        </form>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/services']">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/blog']">Blog <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto" style="color: #fff;">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
            </li>
          </ul>
          <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #1F2566; background-color: #fff;">Post Job</button>
        </form>
      </div>
    </nav> -->

    <nav *ngFor="let i of [1,2]" [class]="{'fixed-Menu':i == 1}" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; padding: 0; background-color: #6495ED !important;">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #ffffff; display: none;"></span><i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
      </button>
      <img src="assets/images/logo_2.png" alt="Home" class="navbar-brand" [routerLink]="['/']" style="width: 150px; height: 150px; cursor: pointer; margin: -40px 0 !important; margin-right: 5% !important;">

    <div class="collapse navbar-collapse" [class]="{'d-flex':showMenu}" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/about']">About Us </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/services']">Services </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/blog']">Blog </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/boards']">Job Boards </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/pricing']">Pricing </a>

        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="toggleMenu()" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" [class]="{'d-flex':showMenu}" style="display: flex; flex-direction: column; justify-items: flex-start;">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> -->
      </ul>

      <div *ngIf="!authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>

      <div *ngIf="authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Log Out</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/appdash']">Dashboard</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <div class="container" style="margin: 3% 0;">
    <div style="padding-top: 30px;">
      <h6 style="text-align: center; color: #fff; font-family: 'Rubik';">Let us score your CV and get you the job</h6>
    </div>
    <!-- <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; align-self: center; padding-top: 3%; margin-left: 10%;">
      <div class="form-group col-sm-3">
         <select class="custom-select" name="" id="">
           <option value="">Search by Locations</option>
           <option value="">1</option>
         </select>
       </div>


       <div class="form-group col-sm-3">
         <select class="custom-select" name="" id="">
           <option value="">Search by Locations</option>
           <option value="">1</option>
         </select>
       </div>

       <div class="form-group col-sm-3">
         <select class="custom-select" name="" id="">
           <option value="">Search by Locations</option>
           <option value="">1</option>
         </select>
       </div>


       <div class="form-group col-sm-3">
        <button type="submit" class="btn my-button" nbButton status="primary">Search Now</button>
       </div>
     </div> -->
   </div>


  </div>

</div>

<div class="row" style="display: flex; flex-direction: row; justify-content: space-between; padding: 50px; margin: 4%; font-family: 'Rubik';">
  <div class="col-sm-5">
    <img src="assets/images/Resume_scoring.png" style="height: 100%; width: 100%;" alt="">
  </div>

  <div class="col-sm-6" style="border: 5px solid #E8E8E8BE; border-radius: 5px; padding: 2% 5%; font-family: 'Rubik';">
     <form>
      <h3>Score your CV now</h3>
      <span style="text-align: justify;"><p>Upload your CV and find out your CV score</p><br></span>
      <div class="form-group">
        <label for="Allowed Formats">Allowed Formats:</label>
        <ngx-file-upload></ngx-file-upload>
        <div style="padding: 10px;"></div>
      </div>

      <div style="display: flex; flex-direction: row; justify-content: right; align-items: flex-end;">
      <button *ngIf="!btnprocessing"  type="button" nbButton status="primary">Analyze</button>
      <button *ngIf="btnprocessing" type="button" nbButton fullWidth status="primary">Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
      <div style="padding: 5px;"></div>
      </div>
    </form>
     </div>

</div>
