<div class="bg-img" style="width: 100%;">
  <div class="container">
    <!-- <ngx-navigator></ngx-navigator> -->
    <nav *ngFor="let i of [1,2]" [class]="{'fixed-Menu':i == 1}" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; padding: 0; background-color: #6495ED !important;">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #ffffff; display: none;"></span><i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
      </button>
      <img src="assets/images/logo_2.png" alt="Home" class="navbar-brand" [routerLink]="['/']" style="width: 150px; height: 150px; cursor: pointer; margin: -40px 0 !important; margin-right: 5% !important;">

    <div class="collapse navbar-collapse" [class]="{'d-flex':showMenu}" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/about']">About Us </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/services']">Services </a>
        </li>


        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/boards']">Job Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/artisans']">Artisan Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/training']">Training Board</a>
        </li>

        <li *ngIf="!(authenService.authStatus | async)" class="nav-item active">
          <a class="nav-link" [routerLink]="['/auth/login']">Score CV </a>
        </li>

        <li *ngIf="authenService.authStatus | async" class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV </a>
        </li>

      </ul>

      <div *ngIf="!(authenService.authStatus | async)" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>

      <div *ngIf="authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Log Out</a>
          </li>

          <li *ngIf="myRole === 'ASS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/appdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'CSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/consdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'RSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/modules']">Dashboard</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="margin: 3% 0;">
    <div style="padding-top: 30px;">
      <h6 style="text-align: center; color: #fff;">HR Headhunting verified artisans</h6>
    </div>
   </div>

  </div>

</div>
<div class="container" >
  <div class="row" style="margin-top: 2%; background-color: transparent;">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <nb-card *ngIf="artisanCounter < 1">
        <nb-card-body>
          <ngx-default-content pageHeader={{myPlanHeader}} pageDescription="{{myPlanDesc}}" [loading]="loading"></ngx-default-content>
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="artisanCounter > 0" style="background-color: transparent;">
        <nb-card-body>
          <div class="row" style="display: flex; flex-direction: row; justify-content: space-between;">
            <div *ngFor="let artisan of artisanData | paginate: { id: artisanFilter.id,
              itemsPerPage: artisanFilter.pageSize,
              currentPage: artisanFilter.pageNumber,
              totalItems: artisanData.length }" class="col-sm-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded" (click)="artisanDetails(artisan.id)" style="display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer; margin: 0 1px 1px 0;">
                <!-- <img src="assets/images/Job_Seeker.png" style=" height: 50px; text-align: center;"  alt=""><br> -->
                <img src="{{'data:image/jpg;base64,' + artisan.brandLogo}}" onError="this.onerror=null;this.src='assets/images/jobs.png';" style="width:7rem; height: 7rem;">
                <span style="font-size: 14; font-weight: 600;">{{artisan.name}}</span>
                <span>{{artisan.specialty}}</span>
                <span style="margin-right: 4px;">{{artisan.yearOfExperience}} of experience</span>

            </div>
          </div>
        </nb-card-body>
        <pagination-controls
          class="pagi"
          (pageChange)="filterPageUpdated($event)"
        ></pagination-controls>
      </nb-card>
    </div>

    <!-- <div class="col-sm-12 col-md-4 col-lg-4"> -->

      <nb-card class="col-sm-12 col-md-4 col-lg-4 shadow p-3 mb-5 bg-white rounded">
        <nb-card-body>
         <div class="row">
           <div class="col">
           <h6>Top artisans in Nigeria</h6>
           <div style="padding: 5px;"></div>
           <span>{{artisanCounter}} artisans found</span>
           <div style="padding: 10px;"></div>
           <div class="form-group has-search">
             <div style="display: flex; justify-content: space-between; flex-direction: row; padding-bottom: 3px;">
             <span style="font-weight: 600;">SPECIALTY</span>
             <a href="javascript: void(0)" style="color: #0066F4;" (click)="resetFilter()">Reset Filter</a>
             </div>
             <div class="input-group">
             <span class="fa fa-search form-control-feedback"></span>
             <input type="text" class="form-control" placeholder="Search" (keyup.enter)="filterUpdated($event)" name="searchText" #searchText="ngModel" [(ngModel)]="artisanFilter.searchText" style="height: 45px">
             <div class="input-group-append">
             </div>
           </div>
           </div>
           </div>

           <div style="padding: 20px;"></div>
         </div>
        </nb-card-body>
      </nb-card>
  </div>


</div>




