<div class="limiter" style="font-family: Rubik !important; margin: 0 10%;">
  <div style="margin-left: 6%;">
    <img src="assets/images/Logo.png" alt="" style="width: 150px; height: 150px;">
  </div>
  <div class="container-login" >
    <div class="col-sm-4" style="background-color: #6495ED; height: 500px; padding: 30px;">
      <img src="assets/images/login.png" alt="" class="img-central">
    </div>
    <div class="col-sm-4" style="background-color: #ffffff; padding: 10px; height: 500px; padding: 40px;">
      <h6 style="color: #2E384D;">
        Reset Password
      </h6>
      <div style="padding: 30px;"></div>
      <form class="text-left">
        <div class="form-group">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label">Email address</label>
            <input type="email" nbInput fullWidth id="exampleInputEmail1" name="email" [(ngModel)]="userEmail.email" #email="ngModel" placeholder="Email">
          </div>
          <button type="button" *ngIf="!btnProcessing" nbButton fullWidth (click)="resetPassword()" status="primary">Continue</button>
          <button *ngIf="btnProcessing" type="button" fullWidth nbButton status="primary">Processing <i class="fa fa-spin fa-spinner"></i></button>
        </div>
      </form>
      <div style="padding: 5px;"></div>
      <p style="text-align: center;font-size: .9rem;color: #71727B;font-weight: 400; font-family: Rubik;">I don't have an account? <a routerLink="/auth/signup" style="font-weight: 700;">Sign Up</a></p>
    </div>
  </div>
</div>
