<div class="bg-img">
  <div class="container">
    <!-- <ngx-navigator></ngx-navigator> -->

    <nav *ngFor="let i of [1,2]" [class]="{'fixed-Menu':i == 1}" class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; padding: 0; background-color: #6495ED !important;">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #ffffff; display: none;"></span><i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
      </button>
      <img src="assets/images/logo_2.png" alt="Home" class="navbar-brand" [routerLink]="['/']" style="width: 150px; height: 150px; cursor: pointer; margin: -40px 0 !important; margin-right: 5% !important;">

    <div class="collapse navbar-collapse" [class]="{'d-flex':showMenu}" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/about']">About Us </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/services']">Services </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/boards']">Job Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/artisans']">Artisan Board</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/applicants/training']">Training Board</a>
        </li>

        <li *ngIf="!(authenService.authStatus | async)" class="nav-item active">
          <a class="nav-link" [routerLink]="['/auth/login']">Score CV </a>
        </li>

        <li *ngIf="authenService.authStatus | async" class="nav-item active">
          <a class="nav-link" [routerLink]="['/applicants/scorecv']">Score CV </a>
        </li>

      </ul>

      <div *ngIf="!(authenService.authStatus | async)" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/signup']">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>

          <li class="nav-item active">
            <button class="btn" [routerLink]="['/auth/login']" nbButton outline size="small" style="color: #6495ED; background-color: #fff; border: 1px solid #6495ED;">Post Job</button>
          </li>
        </ul>
      </div>

      <div *ngIf="authenService.authStatus | async" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" style="color: #fff;">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/auth/login']">Log Out</a>
          </li>

          <li *ngIf="myRole === 'ASS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/appdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'CSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/consdash']">Dashboard</a>
          </li>

          <li *ngIf="myRole === 'RSS'" class="nav-item active">
            <a class="nav-link" [routerLink]="['/modules']">Dashboard</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  </div>
</div>

<div class="container" style="margin-top: 2%; background-color: transparent;">
  <div class="row row-cols-2">

<div class="col-sm-12 col-md-8 col-lg-8">
      <nb-card>
        <nb-card-header>
          Artisan Details
        </nb-card-header>
        <nb-card-body>
            <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
              <div class="col-sm-8 col-md-3 col-lg-3">
                <!-- <img src="assets/images/jobs.png" style="width:5rem;"> -->
                <!-- src="{{'data:image/jpg;ba.brandLogose64,' + singleArtisan}}" -->
                <img src="{{'data:image/jpg;base64,' + singleArtisan.brandLogo}}" onError="this.onerror=null;this.src='assets/images/jobs.png';" style="width:10rem; height: 10rem;">
              </div>

              <!-- <div class="col-sm-8 col-md-3 col-lg-3">
                <img src="logoSource" onError="this.onerror=null;this.src='assets/images/jobs.png';" style="width:10rem; height: 10rem;">
              </div> -->

              <div class="col-sm-12 col-md-8 col-lg-8">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <!-- <th scope="col">#</th>
                      <th scope="col">First</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Name:</td>
                      <td>{{singleArtisan.name}}</td>
                    </tr>
                    <tr>
                      <td>Location:</td>
                      <td>{{singleArtisan.location}}</td>
                    </tr>
                    <tr>
                      <td>Specialty:</td>
                      <td>{{singleArtisan.specialty}}</td>
                    </tr>

                    <!-- <tr>
                      <td>Mobile:</td>
                      <td>{{singleArtisan.mobile}}</td>
                    </tr>

                    <tr>
                      <td>Email:</td>
                      <td>{{singleArtisan.email}}</td>
                    </tr> -->

                    <tr>
                      <td>Experience:</td>
                      <td>{{singleArtisan.yearOfExperience}}</td>
                    </tr>
                  </tbody>
                </table>
                  <div class="row" style="padding-top: 10px;">
                    <div class="col">
                     <span style="font-weight: 700; padding-bottom: 20px;">About Artisan</span><br><div style="padding:5px"></div>
                     <span style="text-align: justify; line-height: 1.6;">{{singleArtisan.description}}</span>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col">
                      <button *ngIf="!btnProcessing" type="button" class="btn btn-primary" [disabled]="!flag ? 'disabled': null" (click)="toggleRating()" nbButton status="primary">Rate Now</button>
                      <button *ngIf="btnProcessing" nbButton status="primary">Now Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
                    </div>
                   </div>
              </div>
            </div>

        </nb-card-body>
      </nb-card>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
    <nb-card>
        <nb-card-header>
          Artisan Summary
        </nb-card-header>
        <nb-card-body>

                <div class="row" style="display: flex; flex-direction: column; margin-bottom: 10px;">
                  <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                      <tr>
                        <td><i class="fa fa-address-book" aria-hidden="true"></i></td>
                        <td>{{singleArtisan.name}}</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-compass" aria-hidden="true"></i></td>
                        <td>{{singleArtisan.location}}</td>
                      </tr>
                      <!-- <tr>
                        <td><i class="fa fa-mobile" aria-hidden="true"></i></td>
                        <td>{{singleArtisan.mobile}}</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>
<ngx-side-modal [(show)]="showRating" style="width: 600px;">
  <div modal-header>Rate Artisan</div>
  <div modal-body>
    <nb-card>
      <nb-card-body>
        <form>
          <div class="form-group">
            <h6 style="display: block;">Do you know this Artisan?</h6>
            <label style="display: block; ">Rate artisan</label>
            <span >
              <i class="fa fa-star" *ngFor="let item of stars" (click)="rateArtisan(item)" name="star" style="font-size: 16px;padding: 5px;" [class.rating]="item <= rating" aria-hidden="true"></i>
            </span>
          </div>

          <div class="form-group row" style="padding: 15px;">
            <label for="fullName" >Full Name</label>
              <input type="text" class="form-control" name="fullName" #fullName="ngModel" [(ngModel)]="ratingModel.name" required>
              <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="error">
                <div *ngIf="fullName.errors.required">Full Name is required</div>
              </div>
          </div>

          <div class="form-group row" style="padding: 15px;">
            <label for="">Review</label><br>
          <textarea name="review" #review="ngModel" [(ngModel)]="ratingModel.review" cols="30" rows="10" style="width: 100%;" required></textarea>
          <div *ngIf="review.invalid && (review.dirty || review.touched)" class="error">
            <div *ngIf="review.errors.required">Review is required</div>
          </div>
          </div>

          <div class="form-group row">
            <label for="specialization" style="font-weight: bold;"></label>
              <button nbButton status="primary" (click)="submitRating()" style="float: right;">Rate Artisan</button>
              <!-- <button *ngIf="btnProcessing" nbButton status="primary">Now Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button> -->
              <span style="padding: 8px;"></span>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

</ngx-side-modal>
