@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  // add your variables here like:

  color-primary-100: #6495ED,
  color-primary-200: #6495ED,
  color-primary-300: #6495ED,
  color-primary-400: #6495ED,
  color-primary-500: #6495ED,
  color-primary-600: #6495ED,
  color-primary-700: #6495ED,
  color-primary-800: #6495ED,
  color-primary-900: #6495ED,

), default, default);
