<ngx-componentsheader pageName='CV Upload'></ngx-componentsheader>
<!--
<div class="container" style="background-color: #ffffff;">
  <nb-card>
    <nb-card-body>
      <form action="">
        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-6">
            <label for="Descripion">Upload your CV in PDF format, not more than 512Kb</label>
            <input type="file" class="form-control-file" name="resume" id="" (change)="handleFileSelect($event)">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-6">
            <label style="font-weight: bold;"></label>
              <button *ngIf="!btnProcessing" nbButton status="primary" (click)="uploadCV()">Upload</button>
              <button *ngIf="btnProcessing" nbButton status="primary">Now Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
              <span style="padding: 8px;"></span>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div> -->

<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-7" style="border-radius: 5px; font-family: 'Rubik';">
    <nb-card>
      <nb-card-body>
        <form>
          <h5>Upload your CV now</h5>
          <div class="form-group">
            <label for="Allowed Formats">Allowed Formats: PDF DOC DOCX</label>
            <!-- <ngx-file-upload (change)="handleFileSelect($event)"></ngx-file-upload> -->
            <input type="file" class="form-control-file" name="cv" (change)="handleFileSelect($event)" accept=".pdf,.doc,.docx">
            <div style="padding: 10px;"></div>
          </div>

          <div style="display: flex; flex-direction: row; justify-content: right; align-items: flex-end;">
          <button *ngIf="!btnProcessing"  type="button" nbButton status="primary" (click) ="uploadCV()">Upload</button>
          <button *ngIf="btnProcessing" type="button" nbButton status="primary">Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
          <div style="padding: 5px;"></div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-5">
      <nb-card>
        <nb-card-header>
          Previous CVs
          <!-- <div
          style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
          <div style="flex: auto; display: flex;padding-top: 15px;">
            <p style="color:#6495ED!important; text-transform: uppercase;" class="listsubheader">Previous CVs</p>
          </div>

        </div> -->
        </nb-card-header>
        <nb-card-body>
            <div class="row" *ngIf="prevResume.length < 1">
              <p>No data here</p>
             </div>
              <div class="row" *ngIf="prevResume.length > 0">
                <object *ngFor="let resume of prevResume" data="[path to .doc]" type="application/msword">
                  <p>It appears you do not have a Suitable plugin for this browser. You can download this file.
                      <a href="[path to .doc]">
                      <button type="button">download</button></a>
                  </p>
                </object>
              </div>
          <span style="padding: 10px;"></span>

          <div class="documents">

            <!-- <ngx-doc-viewer
                    [url]="doc"
                    viewer="google"
                    style="width:100%;height:50vh;"
                    ></ngx-doc-viewer> -->
          </div>

        </nb-card-body>
      </nb-card>
    </div>
</div>
