<ngx-componentsheader pageName='My Trainings' [requiredButton]="[{name:'new', label:'Add New', icon: 'plus'}]" (buttonClick)="toggleTraining()"></ngx-componentsheader>

<div *ngIf="trainingCounter < 1" style="background-color: #ffffff;">
  <nb-card>
    <nb-card-body>
        <ngx-default-content pageHeader={{emptyHeader}} pageDescription="{{emptyDescription}}" buttonValue={{myButton}}
          (buttonClick)="newJobPosting()" [loading]="loading"></ngx-default-content>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="trainingCounter > 0">

</div>


<ngx-side-modal [(show)]="newTraining" style="width: 600px;">
  <div modal-header>New Training</div>

  <div modal-body>
    <nb-card>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="Title" class="col-form-label">Training Title</label>
              <input class="form-control" type="text" name="title" #title="ngModel" [(ngModel)]="trainingModel.title" placeholder="Title" required>
              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
                <div *ngIf="title.errors.required">Training Title is required</div>
              </div>
          </div>

          <div class="form-group row">
            <label for="Descripion" class="col-form-label ">Description</label>
              <textarea name="description" #description="ngModel" class="form-control" [(ngModel)]="trainingModel.descriptions" cols="30" rows="10" style="width: 100%;" required></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
                <div *ngIf="description.errors.required">Description is required</div>
              </div>
          </div>

          <div class="form-group row ">
            <label for="Region" class="col-form-label ">State</label>
              <select class="custom-select" name="stateRegion" #stateRegion="ngModel" [(ngModel)]="trainingModel.stateId" required>
                <option value="">--Select State--</option>
                <option *ngFor="let state of stateData" [value]="state.id">{{state.text}}</option>
              </select>
              <div *ngIf="stateRegion.invalid && (stateRegion.dirty || stateRegion.touched)" class="error">
                <div *ngIf="stateRegion.errors.required">State is required</div>
              </div>
          </div>

          <div class="form-group row ">
            <label for="Descripion" class="col-form-label ">Office Address</label>
              <textarea name="address" #address="ngModel" class="form-control" [(ngModel)]="trainingModel.location" cols="30" rows="10" style="width: 100%;" required></textarea>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="error">
                <div *ngIf="address.errors.required">Address is required</div>
            </div>
          </div>

          <div class="form-group row ">
            <label for="Region" class="col-form-label ">Training Duration (in months)</label>
             <input type="number" class="form-control" name="duration" #duration="ngModel" [(ngModel)]="trainingModel.duration" placeholder="Duration (in months)" required>
             <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="error">
              <div *ngIf="duration.errors.required">Training Duration is required</div>
            </div>
          </div>

          <div class="form-group row ">
            <label for="currency" class="col-form-label ">Training Fee</label>
              <app-amount-input [(value)]="trainingModel.fee" class="form-control" style="border: none;width: 100%;"></app-amount-input>
          </div>


          <div class="form-group row">
            <label for="currency" class="col-form-label" style="display:block">Start Date</label>
              <ngx-date [(value)]="trainingModel.startDate" class="form-control" style="border: none;width: 100%;"></ngx-date>
          </div>

          <div class="form-group row ">
            <label for="currency" class="col-form-label ">End Date</label>
              <ngx-date [(value)]="trainingModel.endDate" class="form-control" style="border: none;width: 100%;"></ngx-date>
          </div>

          <div class="form-group row">
            <label class="col-form-label" style="font-weight: bold;"></label>
              <button *ngIf="!btnProcessing" nbButton status="primary" fullWidth (click)="postTraining()">Post Now</button>
              <button *ngIf="btnProcessing" nbButton status="primary">Now Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
              <span style="padding: 8px;"></span>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-side-modal>
